.totusTuus {
min-height: 600px;
}

body {
  background-color: black;
}

.pane {
  background-color: black;
  height: 100%;
  padding: 8px;
}

.scoville {
  height: 90px;
  width: 1095px;
}

#mainHeader {
  font-family: 'Indie Flower', cursive;
  font-size: 50px;
  font-weight: bolder;
  margin-bottom: 5px;
  margin-top: 0px;
  margin-left: 10px;
}

.panel-default {
  background-color: transparent;
  border: solid 5px black;
  position: relative;
  z-index: 2;
}

.panel-default>.panel-heading {
  background: linear-gradient(red, yellow);
  font-family: 'Acme', sans-serif;
  font-weight: bolder;
  font-size: 45px;
  border-bottom: none;
  border-radius: 0px;
}

.panel-body {
  background-color: transparent;
  padding: 5px;
}

.pepper {
  position: absolute;
  top: 105px;
  right: 50px;
  height: 240px;
  width: 525px;
}

#addFlavor {
  width: 30%;
  float: left;
  margin-left: 10px;
  margin-right: 31px;
  margin-top: 15px;
  margin-bottom: 20px;
}

.flavorBody {
  padding: 0px;
}

.capture {
  clear: both;
}

.create-update-form {
  margin: 5px;
}

.form-group {
  margin-bottom: 5px;
  padding: 0px;
}

#submitFlavor {
  float: right;
  height: 52px;
  font-weight: bolder;
  width: 100px;
}

input {
  border: solid 2px black;
  background-color: transparent;
  border-radius: 3px;
}

.mainSection {
  float: left;
  width: 50%;
  padding: 5px;
}

.sect {
  background-image: url(../images/back2.jpg);
  background-size: cover;


}

hr {
  border-color: black;
}

li {
  float: left;
  text-align: center;
  padding: 5px;
  margin: 5px;
  border-radius: 3px;
  font-weight: bolder;
  font-size: 20px;
}

button {
  font-size: 12px;
  width: 60px;
  background-color: black;
  color: white;
  border: solid 3px red;
  border-radius: 3px;
}

.eatList {
  background-color: lightslategrey;
}

.eatenList {
  background-color: orange;
}

.label {
  font-weight: bold;
}

ul {
  list-style: none;
}

.actionButton {
  float: left;
  margin-left: 5px;
}

.landingFlavor {
  font-weight: bolder;
  margin: 0px;
}

#gifDiv {
  position: absolute;
  z-index: 0;
  margin-left: 5px;
  bottom: 20px;
}

.heat {
  float: left;
  height: 75px;
  width: 154px;
}