   <!-- dynamically adds a delete button to the page with the ability to delete entries from the database onclick -->

<form class='actionButton' action="/{{this.id}}?_method=DELETE" method="POST">
  <button type="submit">delete</button>
</form>
